services:
  backoffice-frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backoffice-frontend
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
