services:
  backoffice-frontend:
    build: .
    container_name: backoffice-frontend
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=production
      - PORT=5173
      - HOST=0.0.0.0
  mock-api:
    image: clue/json-server:latest
    container_name: backoffice-mock-api
    ports:
      - "3001:80"
    volumes:
      - ./mock-serveur/db.json:/data/db.json:ro
      - ./mock-serveur/routes.json:/data/routes.json:ro
    command:
      - --watch
      - /data/db.json
      - --routes
      - /data/routes.json
