services:
  backoffice-frontend:
    build: .
    container_name: backoffice-frontend
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=production
      - PORT=5173
      - HOST=0.0.0.0